<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul ng-if="!started" class="list-group">
                <li ng-repeat="item in learn" class="list-group-item">{{item.original}} &mdash; {{item.translate}}</li>
            </ul>

            <ul class="word-cell list-unstyled" ng-if="started">
                <li ng-repeat="word in item" ng-click="remember = true">
                    <div ng-if="word.imagine" class="image-box">
                        <img src="{{word.imagine}}" alt=""/>
                    </div>

                    <h5>{{word.original}}</h5>
                    <h5 ng-class="remember || !word.learned ? '' : 'invisible'">{{word.translate}}</h5>

                    <small class="text-muted">{{word.transcription}}</small>

                    <audio id="sound" src="{{word.sound}}"></audio>

                    <div>
                        <span onclick="document.getElementById('sound').play()"
                              class="fa fa-volume-up fa-2x"></span>
                    </div>

                    <i ng-if="word.learned" class="text-success word-learned fa fa-check"></i>
                    <sup class="text-danger word-forgot">{{word.forgot.length ? word.forgot.length : ''}}</sup>
                </li>
            </ul>

            <div ng-if="started" class="text-center">
                <button ng-click="ok()" class="btn btn-default">Mark as learned</button>
                <button ng-click="start()" class="btn btn-success ">Continue</button>
            </div>

            <button ng-if="!started && learn.length" ng-click="start()" class="btn btn-success btn-block">Start learn</button>

            <div ng-if="!learn.length && !started" class="alert alert-danger">
                <strong>You have one problem...</strong> nothing to learn!
            </div>
        </div>
    </div>
</div>