<html lang="en-US" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Gold 10 words or phrases every day</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#56b48c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <nav ng-controller="navbar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button ng-click="isCollapsed = !isCollapsed" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">{{name}}</span>
            </div>

            <div class="navbar-collapse collapse" uib-collapse="!isCollapsed">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in links" ng-class="{true: 'active'}[curPage === link.title]">
                        <a ng-href="{{link.src}}">{{link.title}}</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-class="{true: 'active'}[curPage === 'Auth']" ng-href="#!/auth">{{username}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ui-view"></div>

</body>
</html>