<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul ng-if="!started" class="list-group">
                <li ng-repeat="item in today" class="list-group-item">{{item.original}} &mdash; {{item.translate}}</li>
            </ul>

            <ul class="word-cell list-unstyled" ng-if="started">
                <li ng-repeat="word in remembe" ng-click="$parent.ok($event)">
                    <div ng-if="word.imagine" class="image-box" ng-class="{'grease': !timeLeft}">
                        <img src="{{word.imagine}}" alt=""/>
                    </div>

                    <h4 ng-if="!timeLeft">{{word.original}}</h4>
                    <h4 ng-if="timeLeft">{{word.translate}}</h4>

                    <small ng-if="timeLeft" class="text-muted">{{word.transcription}}</small>

                    <audio id="sound" src="{{word.sound}}"></audio>

                    <i ng-if="!timeLeft">{{counter}} sec left</i>
                    <div ng-if="timeLeft">
                        <span onclick="document.getElementById('sound').play()"
                              class="fa fa-volume-up fa-3x prevent-remember"></span>
                    </div>

                    <sup class="text-danger">{{word.forgot.length ? word.forgot.length : ''}}</sup>
                </li>
            </ul>

            <button ng-if="timeLeft" ng-click="start()" class="btn btn-success center-block">Continue</button>
            <button ng-if="!started && remember.length" ng-click="start()" class="btn btn-success btn-block">Start remember</button>

            <div ng-if="!remember.length && !started" class="alert alert-danger">
                <strong>You have one problem...</strong> nothing to remember!
            </div>
        </div>
    </div>
</div>